# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# database
*.sqlite3

# Unittest / Coverage report
.coverage
.pytest_cache/
coverage-reports/
xunit-reports/
src/ClassifyNews.py
src/multiprocess.py
src/sortNews.py

**/.DS_Store
.idea
.vscode
simulate.sh
